*{margin: 0;padding: 0}
/* 封装 */
.mx-center{
	margin-left: auto;
	margin-right: auto;
}
.mx-width{
	padding-left: 10%;
	padding-right: 10%;
	box-sizing: border-box;
}
/* 头部分 */
.container .navbar{
    background:#ffffff;
    border: none;
    margin-bottom: 0;
}
.container .navbar-brand{
    height: 70px;
    width: 285px;
    line-height: 250px;
    background: url("../images/logo0.png") no-repeat center;
    margin-top: 8px;
}
@media (max-width: 768px){
    .container .navbar-brand {
        width: 80px;
        height: 80px;
        background: url("../images/logo1.png") no-repeat center ;
        background-size: contain; 
        padding: 15px;
    }
}
 .container .navbar-nav>li>a{
    line-height: 50px;
    padding-left: 10px;
    padding-right: 8px;
}
 .container .navbar .nav>li:hover>a{
    cursor: pointer;
    color: #2dae36;
    border-bottom: 2px solid #2dae36;
} 
.container .navbar .nav .select>a{
    cursor: pointer;
    color: #2dae36;
    border-bottom: 2px solid #2dae36;
} 
.container .navbar-default .navbar-header .navbar-toggle .icon-bar{
     background: #2dae36;
}
.container .navbar-default .navbar-header .navbar-toggle{
    border-color: #2DAE36;
    margin-top: 30px;
}
.container .navbar-default .navbar-header .navbar-toggle:hover .icon-bar{
    background: #ffffff;
}
.container .navbar-default .navbar-header .navbar-toggle:hover{
    background: #2dae36;
}
/* 轮播 */
.carousel-indicators .active{
    background-color:#2dae36;
} 
.carousel-inner {
    margin-bottom: 10px;
}
/* 产品展示*/
.prodect-show{
    margin-top: 20px;
}
.show-content{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.prodect-show .nav-title{
    margin-bottom: 20px;
}
.nav-title{
    border-bottom: 1px solid #ddd;
}
.nav{
    padding-left: 0;
    list-style: none;
}
.nav-title>li{
    float: left;
    margin-bottom: -1px;
}
.nav>li{
    position: relative;
    display: block;
}
.prodect-show .show-item{
    margin-bottom: 50px;
}
.prodect-show .show-item .choice{
    display: block;
}
.row{
    margin-right: -15px;
    margin-left: -15px;
}
.prodect-show .show-item .row>div{
    padding:5px;
    box-sizing: border-box;
}
.prodect-show .show-item .row img{
    width: 100%;
}
.prodect-show .show-list .show-content a{
    text-decoration: none;
    color: #666666;
}
.prodect-show .show-list .nav-title .click>a{
    color: #2DAE36;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    background: #ffffff;
}
.hide{
    display: none;
}
/* 底部 */
.foot{
	padding-top:24px;
	padding-bottom:16px;
	box-sizing: border-box;
	background-color:#ddd;
	text-align: center;
    color:#666;
}
.foot .foot-logo{
	margin-bottom: 16px;
}
.foot .foot-logo img{
	width: 100px;
}
.foot a{
	color:#777;
	text-align: center;
	text-decoration: none;
}
.foot .about{
	padding-top: 20px;
}
.foot a:hover{
	color:#2dae36;
}
.foot .copyright{
	font-size: 12px;
	text-align: center;
	line-height: 2.4em;
}
.foot .contact{
	font-size: 10px;
	line-height: 1.6em;
	text-align: left;  
}