*{margin: 0;padding: 0}
.container .navbar{
    background:#ffffff;
    border: none;
    margin-bottom: 0;
}
.container .navbar-brand{
    height: 70px;
    width: 285px;
    line-height: 250px;
    background: url("../images/logo0.png") no-repeat center;
    margin-top: 8px;
}
@media (max-width: 768px){
    .container .navbar-brand {
        width: 80px;
        height: 80px;
        background: url("../images/logo1.png") no-repeat center ;
        background-size: contain; 
        padding: 15px;
    }
}
 .container .navbar-nav>li>a{
    line-height: 50px;
    padding-left: 10px;
    padding-right: 8px;
}
 .container .navbar .nav>li:hover>a{
    cursor: pointer;
    color: #2dae36;
    border-bottom: 2px solid #2dae36;
} 
.container .navbar .nav .select>a{
    color: #49B951;
    border-bottom: 2px solid #49B951;
    cursor: pointer;
} 
.carousel-indicators .active{
    background-color:#2dae36;
} 
.container .navbar .nav .select>a{
    cursor: pointer;
    color: #2dae36;
    border-bottom: 2px solid #2dae36;
} 
.container .navbar-default .navbar-header .navbar-toggle .icon-bar{
     background: #2dae36;
}
.container .navbar-default .navbar-header .navbar-toggle{
    border-color: #2DAE36;
    margin-top: 30px;
}
.container .navbar-default .navbar-header .navbar-toggle:hover .icon-bar{
    background: #ffffff;
}
.container .navbar-default .navbar-header .navbar-toggle:hover{
    background: #2dae36;
}
.main{
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 70px;
    overflow: hidden;
}

.line{
    height: 43px;
    border-bottom: 1px solid #2dae36;
    margin-top: 20px;
    text-align: center;
}
.line p{
    font-size: 22px;
    width: 120px;
    height: 43px;
    line-height: 43px;
    color: white;
    background: #2dae36;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.content{
    width: 100%;
    /* height: 500px; */
    margin-bottom: 10px;
}
.content p{
    color: #666666;
    margin-top: 20px;
    text-indent: 2em;
}
.content p:first-child{
    margin-top: 40px;
}
.content p span{
    color: #2DAE36;
}
.content img{
    height: 402px;
    width: 510px;
    margin-top: 40px;
    /* margin-bottom: 10px; */
}

.foot{
   background: #DDDDDD;
   padding-top: 23px;
   box-sizing: border-box;
   text-align: center;
   padding-bottom: 16px;
   clear: both;
}
.foot .foot-logo img{
    height: 73px;
    width: 100px;
}
.foot-width{
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}
.foot-center{
    margin-left: auto;
    margin-right: auto;   
}
.foot .row .about a{
    color: #666666;
    text-decoration: none;
    text-align: center;
}
.foot .about{
    padding-top: 20px;
}
.foot .copyright{
    font-size: 12px;
    text-align: center;
    line-height: 2.4em;  
}
.foot p{
    color: #666666;
}
.foot .row .contact p{
    font-size: 12px;
    line-height: 1.6em;
    text-align: center;
}
.foot .row .contact{
    margin-left: -172px;
}
.foot .row .contact p:last-child{
    margin-left: 8px;
}